@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

body {
  background-color: #505050;
  color: #3CE7D1;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@media only screen and (min-width: 971px){	
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.Desktop{
	display: block;
}
.Mobile{
	display: none;
}

.header row{
	margin-top: 70px;
	
}

/* #region Nav Bar CSS */
	.navbar{
		display: flex;
		align-items: center;
		padding: 20px;	
	}
	nav{
		flex: 1;
		text-align: center;
		font-size: 30px;
	}
	nav ul{
		display: inline-block;
		list-style-type: none;
	}
	nav ul li{
		display: inline-block;
		margin: 20px;
	}
	nav ul li a{
		text-decoration: none;
		color: #3CE7D1;
		text-shadow: 3px 3px black;
	}
	nav li{
		transition: transform 0.5s;
	}
	nav li:hover{
		transform: translateY(-5px);
	}
/* #endregion */

/* #region Containor CSS */
	.container{
		max-width: 1300px;
		margin: auto;
		padding-left: 0px;
	}
	.small-container{
		background-color: rgb(0, 0, 0, 0.5);
		max-width: 1080px;
		margin: auto;
		padding-left: 25px;
		padding-right: 25px;
		isolation: isolate;
		padding: 15px 20px;
		text-align: left;
		font-size: 20px;
		line-height: 25px;
		border-radius: 30px;
		max-height: auto;
	}
/* #endregion */

/* #region Text CSS */
	a{
		color: #e73c3c;
		text-decoration: none;
	}
	p{
		font-size: 20px;
	}
	h1{
		font-weight: bold;
		font-size: 10px;
	}
	h2{
		font-weight: bold;
		font-size: 20px;
	}
	h3{
		font-weight: bold;
		font-size: 30px;
	}
	h4{
		font-weight: bold;
		font-size: 40px;
	}
	h5 {
		font-weight: bold;
		font-size: 50px;
	}
	h6 {
		font-weight: bold;
		font-size: 60px;
	}
/* #endregion */

/* #region Button CSS */
	.btn{
		display: inline-block;
		background-image: linear-gradient(to right, purple , aqua);
		color: black;
		font-weight: bold;
		padding: 9px 30px;
		margin: 15px 0;
		border-radius: 30px;
		border: 2px solid black;
	    transition: transform 0.5s;
    }
    .btn:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
/* #endregion */

/* #region Column */

	.row-column {
  		display: flex;
	}
	.row-column img{
		width: 50px;
	}
	.column-left {
  		flex: 30%;
		padding: 10px;
	}
	.column-right{
		flex: 70%;
		padding: 10px;
	}

/* #endregion */

/* #region Row & Col-1 CSS */ 
	.row{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-around;	
	}
	.col-1{
		padding-right: 10px;
		min-width: 100px;
		transition: transform 0.5s;
		text-align: left;
	}
	.col-1 img{
		width: 100%;
		max-height: 125px;	
	}
	.col-1 p {
		font-size: 20px;
	}
	.col-1 li {
		text-align: left;
	}
	.col-1:hover {
		transform: translateY(-5px);
	}
/* #endregion */

/* #region Title & Banner CSS */
	.title{
		text-align: center;
		margin: 0 auto 80px;
		position: relative;
		line-height: 30px;
	}
	.title::after{
		content: '';
		width: 80px;
		height: 5px;
		border-radius: 5px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	.banner {
		width: 100%;
		height: 50%;
		border-radius: 30px;
	}
/* #endregion */

/* #region Table CSS*/
	table {
		width: 65%;
		border-collapse: collapse;
	}
	table a:hover{
		color: #7e1c1c;
	}
	th {
		font-size: 20px;;
		text-align: left;
		padding: 5px;
		font-weight: bold;
	}
	td {
		text-align: left;
		padding: 10px 5px;	
	}

	.control table{
		width: 60%;
		border-collapse: collapse;
		border-radius: 30px;
	}
	.control th {
		font-size: 25px;;
		text-align: left;
		padding: 5px;
		font-weight: bold;
	}
	.control td {
		text-align: left;
		padding: 10px 5px;
	}
	.the-team table{
		width: 40%;
		border-collapse: collapse;
		border-radius: 30px;
	}
/* #endregion */

/* #region Description & Devlog */
	.desc{
		max-width: 1000px;
		max-height: 500px;
	}
	.desc-text{
		width: 700px;
	}
	.devlog{
		width: 100%;
		height: 1000px;
		border-radius: 30px;
	}
/* #endregion */

/* #region Dropdown CSS */
	.dropbtn {
		background: none;
		color: white;
		padding: 16px;
		font-size: 16px;
		border: none;
		padding: 9px 30px;
		border-radius: 30px;
	}
	.dropdown {
  		position: relative;
  		display: inline-block;
	}
	.dropdown-content {
  		display: none;
  		position: absolute;
  		text-align: left;
  		background-color: #f1f1f1;
  		min-width: 160px;
  		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 		z-index: 5;
	}
	.dropdown-content a {
  		color: black;
  		padding: 12px 16px;
  		text-decoration: none;
  		display: block;
	}
	.align-right{
		justify-content: right;
	}

	/* Change color of dropdown links on hover */
	.dropdown-content a:hover {background-color: grey;}

	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-content {display: block;}
/* #endregion */

/* #region Form CSS */
	.form input{
		display: inline-block;
		text-align: left;
		color: black;
		padding: 9px 30px;
		border-radius: 30px;
	}
	.form textarea{
		display: inline-block;
		text-align: left;
		color: black;
		padding: 9px 30px;
		border-radius: 30px;
	}
	.form button{
		display: inline-block;
		background: green;
		color: #fff;
		padding: 9px 30px;
		margin: 30px 0;
		border-radius: 30px;
		transition: background 0.5s;
	}
	.form button:hover{
		background: #055700;
		cursor: pointer;
	}
	.form .message-box{
		height: 100px;
		text-align: left;
		overflow-wrap: break-word;
	}
/* #endregion */
}

@media only screen and (max-width: 970px){	
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.Desktop{
	display: none;
}
.Mobile{
	display: block;
}

.header row{
	margin-top: 70px;
	
}

/* #region Nav Bar CSS */
	.navbar{
		display: flex;
		align-items: center;
		padding: 20px;	
	}
	nav{
		flex: 1;
		text-align: center;
		font-size: 30px;
	}
	nav ul{
		display: inline-block;
		list-style-type: none;
	}
	nav ul li{
		display: inline-block;
		margin: 20px;
	}
	nav ul li a{
		text-decoration: none;
		color: #3CE7D1;
		text-shadow: 3px 3px black;
	}
	nav li{
		transition: transform 0.5s;
	}
	nav li:hover{
		transform: translateY(-5px);
	}
/* #endregion */

/* #region Containor CSS */
	.container{
		max-width: 1300px;
		margin: auto;
		padding-left: 0px;
	}
	.small-container{
		background-color: rgb(0, 0, 0, 0.5);
		max-width: 1080px;
		margin: auto;
		padding-left: 25px;
		padding-right: 25px;
		isolation: isolate;
		padding: 15px 20px;
		text-align: left;
		font-size: 20px;
		line-height: 25px;
		border-radius: 30px;
		max-height: auto;
	}
/* #endregion */

/* #region Text CSS */
	a{
		color: #e73c3c;
		text-decoration: none;
	}
	p{
		font-size: 20px;
	}
	h1{
		font-weight: bold;
		font-size: 10px;
	}
	h2{
		font-weight: bold;
		font-size: 20px;
	}
	h3{
		font-weight: bold;
		font-size: 30px;
	}
	h4{
		font-weight: bold;
		font-size: 40px;
	}
	h5 {
		font-weight: bold;
		font-size: 50px;
	}
	h6 {
		font-weight: bold;
		font-size: 60px;
	}
/* #endregion */

/* #region Button CSS */
	.btn{
		display: inline-block;
		background-image: linear-gradient(to right, purple , aqua);
		color: black;
		font-weight: bold;
		padding: 9px 30px;
		margin: 15px 0;
		border-radius: 30px;
		border: 2px solid black;
	    transition: transform 0.5s;
    }
    .btn:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
/* #endregion */

/* #region Row & Col-1 CSS */ 
	.row{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-around;	
	}
	.col-1{
		padding-right: 10px;
		min-width: 100px;
		transition: transform 0.5s;
		text-align: left;
	}
	.col-1 img{
		width: 100%;
		max-height: 125px;	
	}
	.col-1 p {
		font-size: 20px;
	}
	.col-1 li {
		text-align: left;
	}
	.col-1:hover {
		transform: translateY(-5px);
	}
/* #endregion */

/* #region Title & Banner CSS */
	.title{
		text-align: center;
		margin: 0 auto 80px;
		position: relative;
		line-height: 30px;
	}
	.title::after{
		content: '';
		width: 80px;
		height: 5px;
		border-radius: 5px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	.banner {
		width: 100%;
		height: 50%;
		border-radius: 30px;
	}
/* #endregion */

/* #region Table CSS*/
	table {
		width: 65%;
		border-collapse: collapse;
	}
	table a:hover{
		color: #7e1c1c;
	}
	th {
		font-size: 20px;;
		text-align: left;
		padding: 5px;
		font-weight: bold;
	}
	td {
		text-align: left;
		padding: 10px 5px;	
	}
/* #endregion */

/* #region Description & Devlog */
	.desc{
		max-width: 1000px;
		max-height: 500px;
	}
	.desc-text{
		width: 700px;
	}
	.devlog{
		width: 100%;
		height: 1000px;
		border-radius: 30px;
	}
/* #endregion */

/* #region Dropdown CSS */
	.dropbtn {
		background: none;
		color: white;
		padding: 16px;
		font-size: 16px;
		border: none;
		padding: 9px 30px;
		border-radius: 30px;
	}
	.dropdown {
  		position: relative;
  		display: inline-block;
	}
	.dropdown-content {
  		display: none;
  		position: absolute;
  		text-align: left;
  		background-color: #f1f1f1;
  		min-width: 160px;
  		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 		z-index: 5;
	}
	.dropdown-content a {
  		color: black;
  		padding: 12px 16px;
  		text-decoration: none;
  		display: block;
	}
	.align-right{
		justify-content: right;
	}

	/* Change color of dropdown links on hover */
	.dropdown-content a:hover {background-color: grey;}

	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-content {display: block;}
/* #endregion */

/* #region Form CSS */
	.form input{
		display: inline-block;
		text-align: left;
		color: black;
		padding: 9px 30px;
		border-radius: 30px;
	}
	.form textarea{
		display: inline-block;
		text-align: left;
		color: black;
		padding: 9px 30px;
		border-radius: 30px;
	}
	.form button{
		display: inline-block;
		background: green;
		color: #fff;
		padding: 9px 30px;
		margin: 30px 0;
		border-radius: 30px;
		transition: background 0.5s;
	}
	.form button:hover{
		background: #055700;
		cursor: pointer;
	}
	.form .message-box{
		height: 100px;
		text-align: left;
		overflow-wrap: break-word;
	}
/* #endregion */
}