@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

body {
  background-color: #505050;
  color: #3CE7D1;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Desktop Screen CSS */
@media only screen and (min-width: 1300px) {
/* #region General CSS */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .banner {
        width: 1000px;
        height: 600px;
    }
    .Desktop {
        display: block;
    }

    .Mobile {
        display: none;
    }
/* #endregion */

/* #region Navbar CSS */
    .navbar {
        display: flex;
        align-items: center;
        padding: 20px;
    }
    nav {
        flex: 1;
        text-align: center;
        
    }
    nav ul {
        display: inline-block;
        list-style-type: none;
    }
    nav ul li {
        display: inline-block;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    nav ul li a{
        text-decoration: none;
        color: #3CE7D1;
        text-shadow: 3px 3px black;
        font-size: 30px;
    }
    nav li {
        transition: transform 0.5s;
    }
    nav li:hover {
        transform: translateY(-5px);
    }
/* #endregion */

/* #region Hero/Tagline CSS */
    .hero {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        text-align: center;
        margin: 0 auto 80px;
        position: relative;
        height: 300px;
        padding: 20px;
        padding-top: 20px;
        border-radius: 30px;
        border: 3px solid black;
        float: center;
        width: 50%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .hero img {
        width: 200px;
        height: 200px;
    }
    
    .hero h2 {
        text-align: left;
        font-size: 2.5rem;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    
    .hero p {
        text-align: left;
        font-size: 20px;
        margin: 15px 0;
        text-shadow: 1px 1px black;
    }

    .hero .btn {
        text-align: center;
        position: relative;
        right: 32%;
    }
/* #endregion */

/* #region Column */

    .row-column{
        width: 100%;
    }
    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }
  
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

/* #endregion */

/* #region Text CSS */

    a {
        text-decoration: none;
        color: #e73c3c;
    }
    p {
        font-size: 20px;
        text-shadow: 1px 1px black;
    }
    h1 {
        font-weight: bold;
        font-size: 10px;
        text-shadow: 3px 3px black;
    }
    h2 {
        font-weight: bold;
        font-size: 20px;
    }
    h3 {
        font-weight: bold;
        font-size: 30px;
        text-shadow: 3px 3px black;
    }
    h4 {
        font-weight: bold;
        font-size: 40px;
    }
    h5 {
        font-weight: bold;
        font-size: 50px;
    }
    h6 {
        font-weight: bold;
        font-size: 60px;
    }
/* #endregion */

/* #region Container CSS */
    .container {
        max-width: 1300px;
        margin: auto;
        padding-left: 0px;
    }
    
    .small-container {
        max-width: 1200px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
/* #endregion */

/* #region Row/Col-1 CSS */
    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .col-1-blank{
        width: 300px;
        padding: 5px;
        margin: 30px;
        border-radius: 30px;
    }
    .col-1 {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px;
        margin: 30px;
        min-width: 200px;
        transition: transform 0.5s;
        border-radius: 30px;
    }
    .col-1 img {
        width: 300px;
        height: 165px;
        border-radius: 30px;
        border: 5px solid black;
    }
    .col-1 h1 {
        text-align: left;
        font-size: 25px;
        padding-left: 10px;
    }
    .col-1 p {
        text-align: left;
        font-size: 14px;
        padding-left: 10px;
    }
    .col-1 .btn {
        text-align: center;
        position: relative;
        left: 25%;
    }
    .col-1 li {
        text-align: left;
    }
    .col-1:hover {
        transform: translateY(-5px);
    }
/* #endregion */

/* #region Col-2 CSS */
    .col-2 {
        flex-basis: 50%;
        min-width: 300px;
    }
    .col-2 img {
        max-width: 100%;
        padding: 50px 0;
    }
    .col-2 h1 {
        font-size: 50px;
        line-height: 60px;
        margin: 25px 0;
    }
/* #endregion */

/* #region Social-Col CSS */
    .social-col img {
        width: 200px;
        height: 200px;
        border-radius: 30px;
        border: 5px solid black;
    }
    .social-col h1 {
        font-size: 25px;
        padding-left: 10px;
    }
    .social-col p {
        font-size: 14px;
        padding-left: 10px;
    }
    .social-col li {
        text-align: left;
    }
    .social-col:hover {
        transform: translateY(-4px);
    }
/* #endregion */

/* #region Button CSS */
    .btn {
        display: inline-block;
        background-image: linear-gradient(to right, purple, aqua);
        color: black;
        font-weight: bold;
        padding: 9px 30px;
        border-radius: 30px;
        border: 2px solid black;
        transition: transform 0.5s;
    }
    .btn:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
/* #endregion */

/* #region Header/Categories CSS */
    .header .row {
        margin-top: 70px;
    }
    .categories {
        margin: 70px 0;
    }
/* #endregion */

/* #region Title CSS */
    .title {
        text-align: center;
        padding-top: 40px;
        margin: 0 auto 40px;
        position: relative;
        line-height: 30px;
    }
    .title::after {
        content: '';
        width: 80px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .title .btn {
        display: inline-block;
        color: white;
        font-weight: bold;
        padding: 3px 30px;
        margin: 10px 0;
        border-radius: 30px;
        border: 2px solid black;
        transition: background 0.5s;
    }
    .title img {
        width: 200px;
        height: 200px;
    }
/* #endregion */

/* #region Table CSS */
    table {
        border-collapse: collapse;
    }
    th {
        font-size: 20px;
        text-align: left;
        padding: 5px;
        font-weight: bold;
    }
    td {
        text-align: left;
        padding: 10px 5px;
    }
/* #endregion */

/* #region Form CSS */
    .form input {
        display: inline-block;
        text-align: left;
        background-image: linear-gradient(to right, purple, aqua);
        color: black;
        width: 50%;
        padding: 9px 30px;
        border-radius: 30px;
    }
    .form button {
        display: inline-block;
        background-image: linear-gradient(to right, purple, aqua);
        color: Black;
        padding: 9px 30px;
        margin: 30px 0;
        border-radius: 30px;
        transition: background 0.5s;
    }
    .form button:hover {
        background-image: linear-gradient(to right, aqua, purple);
        cursor: pointer;
        transform: translateY(-2px);
    }
    .form .message-box{
        height: 40px;
    }
/* #endregion */

/* #region Slideshow container */
.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

/* Slides */
.mySlides {
    display: none;
    position: relative;
    width: 100%;
}

/* Slide image */
.mySlides img {
    text-align: center;
    width: 100%;
    border-radius: 10px;
}

/* Slide text */
.slide-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

/* Slide name */
.slide-name {
    font-size: 24px;
    font-weight: bold;
}

/* Slide description */
.slide-description {
    font-size: 16px;
}

/* Thumbnails */
.thumbnail-container {
    display: flex;
    max-block-size: 50%;
    justify-content: center;
    margin-top: 10px;
}

.thumbnail {
    block-size: 100px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s;
}

.thumbnail:hover {
    transform: scale(1.1);
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Button */
.slide-button {
    display: inline-block;
    background-color: #3CE7D1;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.slide-button:hover {
    background-color: #2bb8a5;
}
/* #endregion */

/* #region Hub Title CSS */
    .hub-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto 80px;
        position: relative;
        height: 300px;
        padding: 20px;
        border-radius: 30px;
        border: 3px solid black;
        float: center;
        width: 75%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .hub-title h2 {
        font-size: 2.5rem;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    
    .hub-title p {
        font-size: 20px;
        margin: 15px 0;
        text-shadow: 1px 1px black;
    }
/* #endregion */

/* #region Home-About-Box*/
.brief-about {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: center;
    margin: 80px auto 80px;
    position: relative;
    height: auto;
    padding: 20px;
    border-radius: 30px;
    border: 3px solid black;
    float: center;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}

.brief-about img {
    width: 200px;
    height: 200px;
}

.brief-about h2 {
    text-align: left;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.brief-about p {
    text-align: left;
    font-size: 20px;
    margin: 15px 0;
    text-shadow: 1px 1px black;
}
/* #endregion */

/* #region Row/Col-1 CSS */
.social-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.social-box {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    margin: 30px;
    min-width: 200px;
    transition: transform 0.5s;
    border-radius: 30px;
}
.social-box h1 {
    text-align: left;
    font-size: 25px;
    padding-left: 10px;
}
.social-box p {
    text-align: left;
    font-size: 14px;
    padding-left: 10px;
}
.social-box .btn {
    text-align: center;
    position: relative;
    left: 25%;
}
.social-box li {
    text-align: left;
}
.social-box:hover {
    transform: translateY(-5px);
}
/* #endregion */


}

/* Mobile Screen CSS */
@media only screen and (max-width: 1299px) {
/* #region General CSS */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .banner {
        width: 1000px;
        height: 600px;
    }
    .Desktop {
        display: none;
    }
    .Tablet {
        display: none;
    }
    .Mobile {
        display: block;
    }
/* #endregion */

/* #region Navbar CSS */
    .navbar {
        display: flex;
        align-items: center;
        padding: 20px;
    }
    nav {
        flex: 1;
        text-align: center;
        
    }
    nav ul {
        display: inline-block;
        list-style-type: none;
    }
    nav ul li {
        display: inline-block;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    nav ul li a{
        text-decoration: none;
        color: #3CE7D1;
        text-shadow: 3px 3px black;
        font-size: 30px;
    }
    nav li {
        transition: transform 0.5s;
    }
    nav li:hover {
        transform: translateY(-5px);
    }
/* #endregion */

/* #region Hero/Tagline CSS */
    .hero {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        text-align: center;
        margin: 0 auto 80px;
        position: relative;
        height: auto;
        padding: 20px;
        border-radius: 30px;
        border: 3px solid black;
        width: 75%;
        float: center;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .hero img {
        width: 150px;
        height: 150px;
        margin-top: 30px;
    }
    
    .hero h2 {
        text-align: left;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    
    .hero p {
        text-align: left;
        font-size: 15px;
        margin: 15px 0;
        text-shadow: 1px 1px black;
    }

    .hero .btn {
        text-align: center;
        position: relative;
        right: 10%;
    }
/* #endregion */

/* #region Column */

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }
  
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

/* #endregion */

/* #region Basic Text CSS */

    a {
        text-decoration: none;
    }
    p {
        font-size: 20px;
        text-shadow: 1px 1px black;
    }
    h1 {
        font-weight: bold;
        font-size: 10px;
        text-shadow: 3px 3px black;
    }
    h2 {
        font-weight: bold;
        font-size: 20px;
    }
    h3 {
        font-weight: bold;
        font-size: 30px;
    }
    h4 {
        font-weight: bold;
        font-size: 40px;
    }
    h5 {
        font-weight: bold;
        font-size: 50px;
    }
    h6 {
        font-weight: bold;
        font-size: 60px;
    }
/* #endregion */

/* #region Container CSS */
    .container {
        max-width: 971px;
        margin: auto;
        padding-left: 0px;
    }
    
    .small-container {
        max-width: 800px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
/* #endregion */

/* #region Row/Col-1 CSS */
    .row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    .col-1 {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px;
        margin: 20px;
        min-width: 100px;
        transition: transform 0.5s;
        border-radius: 10px;
    }
    .col-1 img {
        width: 150px;
        height: 80px;
        border-radius: 10px;
        border: 2px solid black;
    }
    .col-1 h1 {
        text-align: left;
        font-size: 15px;
        padding-left: 10px;
    }
    .col-1 p {
        text-align: left;
        font-size: 9px;
        padding-left: 10px;
    }
    .col-1:hover {
        transform: translateY(-5px);
    }
/* #endregion */

/* #region Col-2 CSS */
    .col-2 {
        flex-basis: 50%;
        min-width: 300px;
    }
    .col-2 img {
        max-width: 100%;
        padding: 50px 0;
    }
    .col-2 h1 {
        font-size: 50px;
        line-height: 60px;
        margin: 25px 0;
    }
/* #endregion */

/* #region Social-Col CSS */
    .social-col img {
        width: 200px;
        height: 200px;
        border-radius: 30px;
        border: 5px solid black;
    }
    .social-col h1 {
        font-size: 25px;
        padding-left: 10px;
    }
    .social-col p {
        font-size: 14px;
        padding-left: 10px;
    }
    .social-col li {
        text-align: left;
    }
    .social-col:hover {
        transform: translateY(-4px);
    }
/* #endregion */

/* #region Button CSS */
    .btn {
        display: inline-block;
        background-image: linear-gradient(to right, purple, aqua);
        color: black;
        font-weight: bold;
        padding: 9px 30px;
        border-radius: 30px;
        border: 2px solid black;
        transition: background 0.5s;
    }
    .btn:hover {
        background-image: linear-gradient(to right, rgb(95, 0, 95), rgb(1, 177, 177));
        cursor: pointer;
    }

    .btn-2 {
        display: inline-block;
        background: #D7D7D7;
        color: black;
        padding: 9px 30px;
        border-radius: 30px;
        transition: background 0.5s;
    }
    .btn-2:hover {
        background: #797979;
    }
/* #endregion */

/* #region Header/Categories CSS */
    .header .row {
        margin-top: 70px;
    }
    .categories {
        margin: 70px 0;
    }
/* #endregion */

/* #region Title CSS */
    .title {
        text-align: center;
        padding-top: 40px;
        margin: 0 auto 40px;
        position: relative;
        line-height: 30px;
    }
    .title::after {
        content: '';
        width: 80px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .title .btn {
        display: inline-block;
        color: white;
        font-weight: bold;
        padding: 3px 30px;
        margin: 10px 0;
        border-radius: 30px;
        border: 2px solid black;
        transition: background 0.5s;
    }
    .title img {
        width: 200px;
        height: 200px;
    }
/* #endregion */

/* #region Table CSS */
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th {
        font-size: 20px;
        text-align: left;
        padding: 5px;
        font-weight: bold;
    }
    td {
        text-align: left;
        padding: 10px 5px;
    }
    td select {
        width: 225px;
        height: 30px;
        padding: 5px;
    }
    td input {
        width: 225px;
        height: 30px;
        padding: 5px;
    }
    td a {
        color: #3CE7D1;
    }
    td img {
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }
/* #endregion */

/* #region Form CSS */
    .form input {
        display: inline-block;
        text-align: left;
        background-image: linear-gradient(to right, purple, aqua);
        color: black;
        width: 50%;
        padding: 9px 30px;
        border-radius: 30px;
    }
    .form button {
        display: inline-block;
        background-image: linear-gradient(to right, purple, aqua);
        color: Black;
        padding: 9px 30px;
        margin: 30px 0;
        border-radius: 30px;
        transition: background 0.5s;
    }
    .form button:hover {
        background-image: linear-gradient(to right, aqua, purple);
        cursor: pointer;
        transform: translateY(-2px);
    }
    .form .message-box{
        height: 40px;
    }
/* #endregion */

/* #region Slideshow container */
.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

/* Slides */
.mySlides {
    display: none;
    position: relative;
    width: 100%;
}

/* Slide image */
.mySlides img {
    text-align: center;
    width: 100%;
    border-radius: 10px;
}

/* Slide text */
.slide-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

/* Slide name */
.slide-name {
    font-size: 24px;
    font-weight: bold;
}

/* Slide description */
.slide-description {
    font-size: 16px;
}

/* Thumbnails */
.thumbnail-container {
    display: flex;
    max-block-size: 50%;
    justify-content: center;
    margin-top: 10px;
}

.thumbnail {
    block-size: 100px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s;
}

.thumbnail:hover {
    transform: scale(1.1);
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Button */
.slide-button {
    display: inline-block;
    background-color: #3CE7D1;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.slide-button:hover {
    background-color: #2bb8a5;
}
/* #endregion */

/* #region Hub Title CSS */
    .hub-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto 80px;
        position: relative;
        height: 300px;
        padding: 20px;
        border-radius: 30px;
        border: 3px solid black;
        float: center;
        width: 75%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .hub-title h2 {
        font-size: 2.5rem;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    
    .hub-title p {
        font-size: 20px;
        margin: 15px 0;
        text-shadow: 1px 1px black;
    }
/* #endregion */

/* #region Home-About-Box*/
.brief-about {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: center;
    margin: 80px auto 80px;
    position: relative;
    height: auto;
    padding: 20px;
    border-radius: 30px;
    border: 3px solid black;
    float: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.brief-about img {
    width: 200px;
    height: 200px;
}

.brief-about h2 {
    text-align: left;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.brief-about p {
    text-align: left;
    font-size: 20px;
    margin: 15px 0;
    text-shadow: 1px 1px black;
}
/* #endregion */

}

